<div class="col-md-6 offset-md-3 mt-5 test" id="centerText">
  <h1>Our Mission</h1>
  <p>Innovative Expressions is a therapy company that provides speech and occupational therapy services to children and adults with disabilities.</p>
  <p>Innovative Expressions is a therapy company that provides speech and occupational therapy services to children and adults with disabilities. We strive to empower our clients to optimize their communication, motor skills, daily living skills, mealtime habits and social skills with family, friends, and the community for an increased sense of well-being and quality of life.</p>

  <p>We have a bilingual speech therapist on staff who is fluent in Spanish. Our speech therapists have experience treating individuals who have feeding/swallowing disorders, autism, alternative communication needs, articulation disorders, language disorders, fluency disorders, multiple and severe disabilities, hearing loss, as well as cleft lip and/or palate. Our occupational therapists have experience treating individuals with eating difficulties, fine motor delays, behavior disorders, autism, cerebral palsy, sensory processing disorder, and developmental disabilities. In addition we conduct social groups that are lead and managed by speech and occupational therapists.</p>

  <p>We provide therapy services in locations that accommodate the needs of each client and their family. We can provide home visits, school visits, as well as services provided in our clinic locations in Edmond and Oklahoma City.</p>

</div>
