<div id="centerTexth">
  <h1>Insurance</h1>
  <p>We are in Network with the following insurance companies:</p>
  <ul>
    <li>Medicad/Sooner Care/DDS</li>
    <li>Blue Cross and Blue Shield</li>
    <li>Tricare</li>
    <li>Health Choice</li>
    <li>First Health Network</li>
    <li>WebTPA</li>
  </ul>
  <p>If your insurance is not listed please call us for more information. We can also offer private pay rates to those whose insurance will not cover therapy.</p>
</div>
