
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="../style/style.css">
  </head>

  <div>
   <body>
     <div class="container">
       <div class="col-md-6 offset-md-3 mt-5" id="centerText">
         <h1>WELCOME</h1>
         <p>Innovative Expressions is a therapy company that provides speech and occupational therapy services to children and adults with disabilities.</p>
       </div>
      <div class= "row mt-5" id="centerText">
        <div class="col-sm">
          <img src="../images/1.jpg">
          <h2>SPEECH THERAPY</h2>
          <P>Speech pathologists treat speech, language, social communication, cognitive-communication, and swallowing disorders in children and adults</P>
        </div>
        <div class="col-sm">
          <img src="../images/2.jpg">
          <h2>OCCUPATIONAL THERAPY</h2>
          <P></P>
        </div>
        <div class="col-sm">
          <img src="../images/3.jpg">
          <h2>PHYSICAL THERAPY</h2>
          <P>Innovative Expressions is currently looking for a Physical Therapist that has experience working with children.  Skills in manual manipulation and craniosacral therapy are beneficial. Please contact us if you are</P>
        </div>
      </div>
    </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    </body>

    <div>
            <!--Footer-->
      
      <!--/.Footer-->
    </div>
