
  <div>
   <body>
     <div class="container">
       <div class="col-md-6 offset-md-3 mt-5" id="centerText">
         <h1>WELCOME</h1>
         <p>Innovative Expressions is a therapy company that provides speech and occupational therapy services to children and adults with disabilities.</p>
       </div>
      <div class= "row mt-5" id="centerText">
        <div class="col-sm">
          <%= image_tag("1.jpg")%>
          <h2>SPEECH THERAPY</h2>
          <P>Speech pathologists treat speech, language, social communication, cognitive-communication, and swallowing disorders in children and adults</P>
        </div>
        <div class="col-sm">
          <%= image_tag("2.jpg") %>
          <h2>OCCUPATIONAL THERAPY</h2>
          <P>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</P>
        </div>
        <div class="col-sm">
          <%= image_tag("3.jpg") %>
          <h2>PHYSICAL THERAPY</h2>
          <P>Innovative Expressions is currently looking for a Physical Therapist that has experience working with children.  Skills in manual manipulation and craniosacral therapy are beneficial. Please contact us if you are</P>
        </div>
      </div>
    </div>
    </div>
