@import 'bootstrap';

#centerText {
	text-align: center;
}
#navcolor {
	background-color: #ffffff;
}
#copyright {
	background-color: #00acd2;
}

hr {
	border-color: #00acd2;
}



// html {
//   height: 100%;
// }
// body {
//   min-height: 100%;
//   display: grid;
//   grid-template-rows: 1fr auto;
// }
// .footer {
//   grid-row-start: 2;
//   grid-row-end: 3;
// }
